

<div class="fixed-header">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="patients" class="nav-link active" aria-current="page" href="#">Patient list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="registration">Add Patients</a>
      </li>
      
    </ul>
      
    </nav>
    </div> 
<div class="container main-div">

  <router-outlet></router-outlet>


  
</div>    
<div class="fixed-footer bg-primary">
  <footer class="footer">
      <div class="footer-text">
          <span class="">All rights reserved 2022 @java.com</span>
      </div>
  </footer>    
</div>